@import '~basscss/css/basscss';

@import './colors';

body {
  @extend .m0;
  @extend .p0;
  background-color: $gray;
}

.main-menu > li {
  list-style: none;
  flex: 1;
  text-align: center;
  padding: 1rem;

  &:hover {
    transition: 0.3s;
    border-bottom: 4px solid #fafafa;
  }

  &.active {
    border-bottom: 4px solid #005bb2;
  }

  a {
    @extend .off-white;
    @extend .block;
    @extend .text-decoration-none;
  }
}

.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
